<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto F1</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" href="./assets/icons/formula1Icon2.svg" type="image/x-icon">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header>
        <h1>🔥 F1enza Tu Pasión por la Fórmula 1 a la Cima 🚀</h1>
        <p> Desata tu fervor por la Fórmula 1 en un espacio que respira la emoción de cada curva, cada adelantamiento, cada victoria. Inspírate con la grandeza del deporte motor y únete a una comunidad que vive al límite de la velocidad.</p>
    </header>
    <main>
        <div class="filters">
            <a href="#">
                <img src="../assets/icons/newsFormula1Icon.svg" alt="Logo F1">
                <p>All News</p>
            </a>
            <a href="#">
                <img src="../assets/icons/newsTeamFormula1Icon.svg" alt="Logo F1 Teams">
                <p>News F1 Teams</p>
            </a>
            <a href="#">
                <img src="../assets/icons/newsCircuitsFormula1Icon.svg" alt="Logo F1 Circuits">
                <p>News F1 Circuits</p>
            </a>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="../assets/images/imageCardNews1.jpeg" alt="Card image 1">
                <div class="card-content">
                    <h3 class="card-title">📰 ¡Bomba en el Paddock! Últimas Novedades de los Equipos ➡️</h3>
                    <p class="card-text">Entérate de los fichajes sorpresa 🤝, los cambios técnicos de última hora ⚙️ y las declaraciones que están agitando el mundo de la F1 🗣️. ¡Mantente al día con la información más reciente! ⏰</p>
                    <a href="#" class="card-button">
                        <img src="../assets/icons/icon2Formula1.svg" alt="">
                        <p>Learn More...</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="../assets/images/imageCardNews2.jpeg" alt="Card image 1">
                <div class="card-content">
                    <h3 class="card-title">🧐 Bajo la Lupa: Desglosamos las Claves del Último Gran Premio 🏁</h3>
                    <p class="card-text">Profundizamos en la estrategia 🧠, los momentos cruciales 💥 y el rendimiento de los pilotos 📊 en la última carrera. Descubre los detalles que marcaron la diferencia en la pista 🛣️.</p>
                    <a href="#" class="card-button">
                        <img src="../assets/icons/icon2Formula1.svg" alt="">
                        <p>Learn More...</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="../assets/images/imageCardNews3.jpeg" alt="Card image 1">
                <div class="card-content">
                    <h3 class="card-title">🤫 Secretos de Boxes: Los Rumores más Calientes de la Temporada 🔥</h3>
                    <p class="card-text">¿Qué se comenta entre bambalinas? 🤔 Te traemos los rumores más jugosos 🌶️, las posibles sorpresas 😲 y las exclusivas que podrían sacudir el campeonato 🌪️.</p>
                    <a href="#" class="card-button">
                        <img src="../assets/icons/icon2Formula1.svg" alt="">
                        <p>Learn More...</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="../assets/images/imageCardNews4.jpeg" alt="Card image 1">
                <div class="card-content">
                    <h3 class="card-title">🗓️ ¡A Calentar Motores! Previa y Horarios del Próximo Gran Premio 🚦</h3>
                    <p class="card-text">No te pierdas ningún detalle del próximo evento 📍. Te presentamos el circuito 🗺️, los horarios clave ⏱️ y los puntos a tener en cuenta para la siguiente batalla en la pista 💪.</p>
                    <a href="#" class="card-button">
                        <img src="../assets/icons/icon2Formula1.svg" alt="">
                        <p>Learn More...</p>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="div__izquierdo">
            <a href="#" id="home-icon"><img src="../assets/icons/homeIcon.svg" alt="Home Icon"></a>
            <a href="#" id="bag-icon"><img src="../assets/icons/RacingDetailsIcon.svg" alt="Bag Icon"></a>
        </div>
        <div class="div__derecho">
            <a href="#" id="heart-icon">
                <img src="../assets/icons/simulationRacingIcon.svg" alt="Heart Icon">
            </a>
            <a href="#" id="profile-icon"><img src="../assets/icons/userIcon.svg" alt="Profile Icon"></a>
        </div>
        <div id="moving-bar" class="moving-bar"></div>
    </footer>
</body>
</html>