<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto F1</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" href="./assets/icons/formula1Icon2.svg" type="image/x-icon">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header>
        <h1>🔥 F1enza Tu Pasión por la Fórmula 1 a la Cima 🚀</h1>
        <p> Desata tu fervor por la Fórmula 1 en un espacio que respira la emoción de cada curva, cada adelantamiento, cada victoria. Inspírate con la grandeza del deporte motor y únete a una comunidad que vive al límite de la velocidad.</p>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>