:root {
  --color-1: #FFFFFF;
  --color-2: #CCCDD7;
  --color-3: #FFFFFF20;
  --color-4: #FFFFFF08;
  --color-5: #000000;
  --color-6: #D9D9D9;
  --color-7: #4D4D4D;
  --color-8: #EE0000;
  --color-9: #9E9E9E;
  --color-10: #FFFFFF18;
  --color-11: #A981FF40;
  --color-12: #D5240F;
  --color-13: #A3B546;
  --color-14: #131313;
  --color-15: #E6FE58;    
  --color-16: #141414;    
  --color-17: #CBC8C8;    
  --color-18: #9DB2CE;    
  --color-19: #D9D9D906;    
  --color-20: #656565;
  --color-21: #FFD233;
  --color-22: #FFFFFF10;
  --color-23: #F7FFC8;
  --color-24: #E18A04;    
  --color-25: #FFD200;
  --color-26: #E4A020;
  --color-27: #8C8E98;
  --color-28: #21D572;
  --color-29: #21D372;
  --color-30: #FF9900;
  --color-31: #0D0D0D;
  --color-32: #FA9804;
  --color-33: #FFD51A;    
  --color-34: #E7A937;
  --color-35: #30DF7F;
  --color-36: #FFA31A;
  --color-37: #2FDE7E;
  --color-38: #FFFFFF70;
  --color-39: #0A84FF;
  --color-40: #2737CF30;
  --color-41: #FFFFFF07;
  --color-42: #FFFFFF60;
  --color-43: #00000020;
  --color-44: #77C2BA;
  --color-45: #8671EC20;
  --color-46: #FFFFFF40;
  --color-47: #DB1B41;
  --color-48: #FFFFFF30;
}